<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Responsive Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli:800|Permanent+Marker|Work+Sans:800|Montserrat:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    </head>

    <body class="about">
        <!-- TEST UBAH -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navv" style="background: rgba(196, 196, 196, 0.7);">
            <a class="navbar-brand brand" href="{% url 'responsiveweb:Homepage' %}">Kukuh Hafiyyan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                        <li>  <a class="About" href="{% url 'responsiveweb:About' %}">About</a> </li>
                        <li>  <a class="Gallery" href="{% url 'responsiveweb:Gallery' %}">Gallery</a> </li>
                        <li>  <a class="Experience" href="{% url 'responsiveweb:schedule' %}">Form</a> </li>
                        <li>  <a class="Skills" href="{% url 'responsiveweb:showschedule' %}">Schedule</a> </li>> </li>
    
                </div>
            </div>
        </nav>

        <div class="container conB">
            <div class="row rowAbout">
                <div class="col-lg-4    A-col">
                    <img src="{% static 'images/kkukuh.png'%}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <p class="nama">Kukuh Hafiyyan</p>
                    <p class="work">IT Student</p>
                    <p class="desc">I like to try something new and accept challanges in purpose to make myself better. I am a hard worker person and also a consistent individual.</p>
                </div>
                <div class="col-lg-4">
                    <p class="title">
                        <br>Name      : Kukuh Hafiyyan
                        <br>Birthday  : March 13, 2000
                        <br>Address   : Jakarta, Indonesia
                        <br>Email     : kukuh.hafiyyan@ui.ac.id
                        <br>Phone     : 08119132000
                        <br>University: Universitas Indonesia
                    </p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>