<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Responsive Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli:800|Permanent+Marker|Work+Sans:800|Montserrat:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    </head>

    <body class="Gall">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navv" style="background: rgba(196, 196, 196, 0.7);">
            <a class="navbar-brand brand" href="{% url 'responsiveweb:Homepage' %}">Kukuh Hafiyyan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                        <li>  <a class="About" href="{% url 'responsiveweb:About' %}">About</a> </li>
                        <li>  <a class="Gallery" href="{% url 'responsiveweb:Gallery' %}">Gallery</a> </li>
                        <li>  <a class="Experience" href="{% url 'responsiveweb:schedule' %}">Form</a> </li>
                        <li>  <a class="Skills" href="{% url 'responsiveweb:showschedule' %}">Schedule</a> </li>
    
                </div>
            </div>
        </nav>
        
        <img src="{% static 'images/Gallery.png' %}" class="img-fluid text-center" alt="Responsive Image">
        
        <div class="container">
            <div class="row g-row">
            
            </div>
            <div class="row g-row1">
                <div class="col-lg-3 col-md-6 col-sm-6 g-col first"><img src="{% static 'images/GWK.png'%}" alt=""></div>
                <div class="col-lg-3 col-md-6 col-sm-6 g-col second"><img src="{% static 'images/MLY.png'%}" alt=""></div>
                <div class="col-lg-3 col-md-6 col-sm-6 g-col third"><img src="{% static 'images/GBK.png'%}" alt=""></div>
                <div class="col-lg-3 col-md-6 col-sm-6 g-col fourth"><img src="{% static 'images/BDG.png'%}" alt=""></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>