<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Responsive Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli:800|Permanent+Marker|Work+Sans:800|Montserrat:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    </head>

    <body class="Home">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navv" style="background: rgba(196, 196, 196, 0.7);">
            <a class="navbar-brand brand" href="{% url 'responsiveweb:Homepage' %}">Kukuh Hafiyyan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                <li>  <a class="About" href="{% url 'responsiveweb:About' %}">About</a> </li>
                <li>  <a class="Gallery" href="{% url 'responsiveweb:Gallery' %}">Gallery</a> </li>
                <li>  <a class="Experience" href="{% url 'responsiveweb:schedule' %}">Form</a> </li>
                <li>  <a class="Skills" href="{% url 'responsiveweb:showschedule' %}">Schedule</a> </li>
    
                </div>
            </div>
        </nav>
        <div class="row homerow">
                
            <img src="{% static 'images/labelhome.png' %}" class="img-fluid" alt="Responsive Image"> 
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 colhom">
                <img src="{% static 'images/Layer 5.png' %}" class="img-fluid" style="box-shadow: 10px 10px 100px #000000;" alt="Responsive Image">
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 colhom">
                <p class="welcome" style="z-index: 3">Welcome</p>
                <p class="welcomeb" style="z-index: 2">Welcome</p>
                <p class="tomy" style="z-index: 3">To My Page !</p>
                <p class="tomyb" style="z-index: 2">To My Page !</p>
                
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 col-12">
                
            </div>   
        </div>
        
        
        
        
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>