.navv{

width: 101%;




background: rgba(196, 196, 196, 0.7);
}

.brand{


height: 30px;


font-family: 'Permanent Marker', cursive; 
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
    

color: #000000;
}

.About{

    padding-right: 5%;
    padding-left: 5%;




font-family: Permanent Marker;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.Gallery{



padding-right: 5%;
padding-left: 5%;

 

font-family: Permanent Marker;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.Experience{

    padding-right: 5%;
    padding-left: 5%;


font-family: Permanent Marker;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.Skills{
        
    padding-right: 5%;
padding-left: 5%;
    
    
    font-family: Permanent Marker;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}


.g-row1{
    width: 100%;
    margin-top: 0%;
    text-align: center; 
}

.g-row{
    margin-left: auto;
    justify-content: center;
    margin-top: 5%;
    
}

.g-col{
    padding: 2%;
}

.Gall{
    
    background: url('/static/images/BackgroundGallery.png');
    
}

.skil{
    
    background-color: #FEC006;
    background-size: cover;
    
}

.row-1{
    height: 50px;
}

.row-2{
    height: 150px;
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
}

.row-3{
    height: 250px;
    text-align: center;
    justify-content: center;
    
}


.col2{
    
    padding-top: 3%;

}

.img{
    padding-top: 10%;
}

.conn{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

.con{
    background-color: #009587;
    
}

.about{
    background: url('/static/images/About.png');
}

.conB{
    background-color: #5f7c8a;
    box-shadow: 10px 10px 100px #000000;
}

.rowAbout{
    margin-top: 10%;
}

.nama{
font-family: 'Muli', sans-serif;
font-size: 40px;
padding-top: 15%;
color: white;
}

.work{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 25px;
color: white;
}

.desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:black;  
    padding-top: 5%;
    line-height: 300%;
}

.exp{
    background: url('/static/images/BackgroundGallery.png');
    
}

.excon1{
    margin-top: 7%;
}
.excon2{
    margin-top: 2%;
}
.exrow{
    justify-content: center;
    text-align: center;
    background: #009587;
}
.colex{
    padding-top: 2%;
}
.titlex{
padding-left: 0%;
font-family: 'work sans', sans-serif;
font-weight: 500;
font-size: 22px;
}

.isix{
padding-left: 0%;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 20px;
    
}
.Home{
    background: url('/static/images/homeback.png');
}

.homerow{
    justify-content: center;
    text-align: center;
    height: auto;
    width: auto;
    
    
}

.colhom{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}

.welcome{

    position: absolute;
    padding-top: 2%;
    padding-left: 5%;
    
    font-family: Work Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 30px;
    /* or 37% */
    
    text-align: center;
    
    color: #FFFFFF;
    }
    
    .welcomeb{
    
        position: absolute;
        padding-top: 3%;
        padding-left: 6%; 
        
        font-family: Work Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 30px;
        /* or 37% */
        
        text-align: center;
        
        color: #000000;
        }
    
    .tomy{
    position: absolute;
    padding-top: 13%;  
    padding-left: 10%; 
    font-family: Work Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 30px;
    /* or 37% */
    
    text-align: center;
    
    color: #FFFFFF;
    }
    
    .tomyb{
    position: absolute;
    padding-top: 14%;
    padding-left: 11%;
    
    
    font-family: 'Work Sans', sans-serif;
    
    font-weight: 800;
    font-size: 80px;
    line-height: 30px;
    /* or 37% */
    
    text-align: center;
    
    color: #000000;
    
    }

    
    
